@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Wix+Madefor+Display:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

$text-color: rgba(50, 50, 50, 0.8);

body {
    background-color: rgba(lightgray, 0.75);
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: $text-color;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.app {    
    
    &__header {
        margin: 1rem;
        display: flex;
        align-items: center;
        
        &__heading {
            font-family: 'Wix Madefor Display', sans-serif;
            font-weight: 800;
            
            a {
                text-decoration: none;
                color: $text-color;
            }
        }

        &__menu {
            display: flex;
            flex-grow: 1;
            margin-left: 2rem;
            font-family: 'Roboto', sans-serif;

            * {
                text-decoration: none;
                color: brown;
                font-size: 1.3rem;
                font-weight: 700;
                text-transform: capitalize;

                &:not(:last-child){
                    margin-right: 1rem;
                }
            }
        }
    }

    &__main {
        flex-grow: 1;
        padding: 1rem;
        font-size: 1.2rem;
    }

    &__footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }
}

.posts {
    display: flex;
    flex-direction: column;
    height: 100%;

    &__header {
        display: flex;
        align-items: center;

        &__menu {
            display: flex;
            margin-left: 3rem;

            * {
                list-style: none;
                margin-right: 5px;

                a {
                    text-decoration: none;
                }
            }
        }
    }

}

.create-post {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    height: 100%;

    &__input-group {
        display: flex;
        flex-direction: column;

        &--body {
            height: 100%;

            textarea {
                height: 100%;
            }
        }
    }

    &__controls {
        display: flex;
    }
}

